engine-strict=true
# Explicitly set the registry to the public npm registry since many developers have their ~/.npmrc configured to use the Angi Artifactory registry.
registry=https://registry.npmjs.org
@fortawesome:registry=https://npm.fontawesome.com
@angi:registry=https://artifactory.ss.angi.cloud/artifactory/api/npm/npm-virtual-repo
//artifactory.ss.angi.cloud/artifactory/api/npm/npm-virtual-repo/:_authToken=glpat-0BLDXNYF8f9aP-78psOwh286MQp1OmV6cTB0Cw.01.120hdqlyh
